{% comment %}
<h2><a href="{% url 'users:admin_dashboard' %}">Admin Dashboard</a></h2>
{% endcomment %} <br /><br />

<h3>Create User / Admin</h3>
<br /><br />
<form method="get">
  {% csrf_token %}
  <button type="submit" name="action" value="add_user">Add User</button>
  <button type="submit" name="action" value="add_admin">Add Admin</button
  ><br /><br />
</form>

{% if action == 'add_user' %}
<h3>Create User</h3>
<br /><br />
<form method="post">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />

  <label for="department">Department:</label>
  <select id="department" name="department" required>
    {% for dept in departments %}
    <option value="{{ dept.name }}">{{ dept.name }}</option>
    {% endfor %}
  </select>

  <button type="submit">Create User</button>
</form>

{% endif %} {% if action == 'add_admin' %}
<h3>Create Admin</h3>
<form method="post">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />

  <label for="department">Department:</label>
  <select id="department" name="department" required>
    {% for dept in departments %}
    <option value="{{ dept.name }}">{{ dept.name }}</option>
    {% endfor %}
  </select>

  <br /><br />

  <label for="permissions">Permissions:</label><br />
  <input type="checkbox" name="permissions" value="can_edit" /> Edit User<br />
  <input type="checkbox" name="permissions" value="can_delete" /> Delete User<br />
  <input type="checkbox" name="permissions" value="can_add_admin" /> Add
  Admin<br /><br />

  <button type="submit">Create Admin</button>
</form>
{% endif %} {% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}
